<a href="https://colab.research.google.com/github/ByronHsu/ds-100-final/blob/master/ds_final_data_gen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import re
import os
import requests, zipfile, io
import warnings
warnings.filterwarnings('ignore')


from google.colab import drive
drive.mount('/content/drive')

project_path = '/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/'

Mounted at /content/drive

In [ ]:
wf = pd.read_csv(project_path + 'data_extended/California_Wildfire.csv')
display(wf.head())

   OBJECTID   YEAR_ STATE  ... FIRE_NUM  SHAPE_Length    SHAPE_Area
0     21440  2020.0    CA  ...      NaN   4179.743142 -7.331347e+05
1     21441  2020.0    CA  ...      NaN  12399.375391 -4.578172e+06
2     21442  2020.0    CA  ...      NaN   2119.194120 -1.823876e+05
3     21443  2020.0    CA  ...      NaN   2029.524881 -8.667942e+04
4     21444  2020.0    CA  ...      NaN   1342.742903 -7.017912e+04

[5 rows x 18 columns]

In [ ]:
"""
Added cell
There are two purposes for this cell
1. merge 2020 data with the data of past N (4) years
2. add external dataset: Barometric Pressure, RH and Dewpoint, PM2.5 (also 5 years)
"""

def lambda_county_state(x):
    return f"{x['State Code']}_{int(x['County Code']):03d}"

# features: "ozone", "so2", "co", "no2", "temp", "wind"
def add_features(df, df2, features):
    df = df.copy()
    for feature in features: 
        print(feature)
        epa_data_feature = df2.get(f'daily_{feature}') \
                .rename(columns={'Date Local': 'Date', 'Arithmetic Mean': f'{feature}'})
        epa_data_feature = epa_data_feature[['State Code', 'County Code', 'Date', f'{feature}']]
        epa_data_feature['state_county'] = epa_data_feature.apply(lambda_county_state, axis=1)
        epa_data_feature = epa_data_feature.drop(['State Code', 'County Code'], 1)
        epa_data_feature = epa_data_feature.groupby(['state_county', 'Date']).mean()
        df = df.merge(right = epa_data_feature, on = ['state_county', 'Date'], how="left")
    return df

epa_weburl = "https://aqs.epa.gov/aqsweb/airdata/"
raw_df = pd.read_csv(project_path + "data_extended/epa_filenames_ext.csv")

# display(raw_df.head())
from collections import defaultdict

# 2-fold dict: year - name - (epa_filename, feature_name)
year_dict = defaultdict(lambda :defaultdict(tuple))
for name, filename, feature, year in zip(raw_df["name"], raw_df["epa_filename"], raw_df["feature_name"], raw_df["year"]):
    year_dict[year][name] = (filename, feature)

# print(year_dict[2020], year_dict[2019])
aqi_list = []

for year in range(2016, 2020+1):
    data_in_year = {}
    all_feature = []
    
    for name, (filename, feature) in year_dict[year].items():
        path_name = project_path + 'data_extended/{}'.format(name)
        print(f"{path_name}/{filename}")
        if not os.path.isfile(f"{path_name}/{filename}"): 
            data_url = '{}{}.zip'.format(epa_weburl, filename)
            req = requests.get(data_url)
            z = zipfile.ZipFile(io.BytesIO(req.content))
            z.extractall(path_name)
        data = pd.read_csv(f'{project_path}/data_extended/{name}/{filename}.csv')
        data_in_year[name] = data
        if feature != "aqi": all_feature.append(feature)
        
    aqi = data_in_year['daily_county_aqi']
    aqi = aqi[['County Code', 'State Code', 'Date', 'Category', 'AQI']]
    aqi['Category'] = aqi['Category'].str.lower()
    aqi['state_county'] = aqi.apply(lambda_county_state, 1)
    aqi = aqi.drop(['County Code', 'State Code'], 1)
    
    aqi = add_features(aqi, data_in_year, all_feature)
    display(aqi)
    aqi_list.append(aqi)
    
final = pd.concat(aqi_list, ignore_index = True)
final.head()

/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_county_aqi/daily_aqi_by_county_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_ozone/daily_44201_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_so2/daily_42401_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_co/daily_42101_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_no2/daily_42602_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_temp/daily_WIND_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_wind/daily_TEMP_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_pm2.5/daily_88101_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_barometric_pressure/daily_PRESS_2016
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_rh_and_dewpoint/daily_RH_DP_2016
ozone
so2
co
no2
temp
wind
pm2.5
barometric_pressure
rh_and_dewpoint

              Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0       2016-01-01     good   33  ...   7.9                  NaN              NaN
1       2016-01-04     good   22  ...   5.3                  NaN              NaN
2       2016-01-07     good   28  ...   6.7                  NaN              NaN
3       2016-01-10     good   13  ...   3.0                  NaN              NaN
4       2016-01-13     good   36  ...   8.7                  NaN              NaN
...            ...      ...  ...  ...   ...                  ...              ...
330469  2016-12-27     good   43  ...   NaN           858.208333        62.979166
330470  2016-12-28     good   42  ...   NaN           860.087500        57.833333
330471  2016-12-29     good   39  ...   NaN           867.689583        43.645833
330472  2016-12-30     good   40  ...   NaN           853.760417        56.854166
330473  2016-12-31     good   39  ...   NaN           851.993750        71.916666

[330474 rows x 13 columns]

/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_county_aqi/daily_aqi_by_county_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_ozone/daily_44201_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_so2/daily_42401_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_co/daily_42101_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_no2/daily_42602_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_temp/daily_WIND_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_wind/daily_TEMP_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_pm2.5/daily_88101_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_barometric_pressure/daily_PRESS_2017
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_rh_and_dewpoint/daily_RH_DP_2017
ozone
so2
co
no2
temp
wind
pm2.5
barometric_pressure
rh_and_dewpoint

              Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0       2017-01-01     good   21  ...   5.0                  NaN              NaN
1       2017-01-04     good   22  ...   5.3                  NaN              NaN
2       2017-01-10     good   19  ...   4.5                  NaN              NaN
3       2017-01-13     good   30  ...   7.2                  NaN              NaN
4       2017-01-16     good   16  ...   3.9                  NaN              NaN
...            ...      ...  ...  ...   ...                  ...              ...
341068  2017-12-27     good   39  ...   NaN           861.381250        69.479167
341069  2017-12-28     good   36  ...   NaN           862.833333        83.354166
341070  2017-12-29     good   31  ...   NaN           861.487500        83.270833
341071  2017-12-30     good   31  ...   NaN           863.004166        84.666666
341072  2017-12-31     good   26  ...   NaN           870.756250        80.375000

[341073 rows x 13 columns]

/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_county_aqi/daily_aqi_by_county_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_ozone/daily_44201_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_so2/daily_42401_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_co/daily_42101_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_no2/daily_42602_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_temp/daily_WIND_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_wind/daily_TEMP_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_pm2.5/daily_88101_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_barometric_pressure/daily_PRESS_2018
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_rh_and_dewpoint/daily_RH_DP_2018
ozone
so2
co
no2
temp
wind
pm2.5
barometric_pressure
rh_and_dewpoint

              Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0       2018-01-02     good   32  ...   7.6                  NaN              NaN
1       2018-01-05     good   34  ...   8.1                  NaN              NaN
2       2018-01-08     good   15  ...   3.6                  NaN              NaN
3       2018-01-11     good   19  ...   4.5                  NaN              NaN
4       2018-01-14     good   25  ...   6.0                  NaN              NaN
...            ...      ...  ...  ...   ...                  ...              ...
343410  2018-12-27     good   36  ...   NaN           856.781250        74.104166
343411  2018-12-28     good   35  ...   NaN           863.045833        74.812500
343412  2018-12-29     good   35  ...   NaN           856.862500        65.708333
343413  2018-12-30     good   31  ...   NaN           848.481703        84.750906
343414  2018-12-31     good   35  ...   NaN           861.877084        71.000000

[343415 rows x 13 columns]

/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_county_aqi/daily_aqi_by_county_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_ozone/daily_44201_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_so2/daily_42401_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_co/daily_42101_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_no2/daily_42602_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_temp/daily_WIND_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_wind/daily_TEMP_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_pm2.5/daily_88101_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_barometric_pressure/daily_PRESS_2019
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_rh_and_dewpoint/daily_RH_DP_2019
ozone
so2
co
no2
temp
wind
pm2.5
barometric_pressure
rh_and_dewpoint

              Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0       2019-01-03     good   18  ...   4.3                  NaN              NaN
1       2019-01-06     good   35  ...   8.5                  NaN              NaN
2       2019-01-09     good   14  ...   3.3                  NaN              NaN
3       2019-01-12     good   36  ...   8.6                  NaN              NaN
4       2019-01-15     good   38  ...   9.0                  NaN              NaN
...            ...      ...  ...  ...   ...                  ...              ...
341935  2019-12-27     good   36  ...   NaN           857.300000        73.791666
341936  2019-12-28     good   37  ...   NaN           854.533334        68.354167
341937  2019-12-29     good   34  ...   NaN           855.735417        72.916666
341938  2019-12-30     good   36  ...   NaN           860.814584        62.083333
341939  2019-12-31     good   40  ...   NaN           855.697917        55.250000

[341940 rows x 13 columns]

/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_county_aqi/daily_aqi_by_county_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_ozone/daily_44201_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_so2/daily_42401_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_co/daily_42101_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_no2/daily_42602_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_temp/daily_WIND_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_wind/daily_TEMP_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_pm2.5/daily_88101_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_barometric_pressure/daily_PRESS_2020
/content/drive/MyDrive/Data_C200_Final_Project_Part_2/data/data_extended/daily_rh_and_dewpoint/daily_RH_DP_2020
ozone
so2
co
no2
temp
wind
pm2.5
barometric_pressure
rh_and_dewpoint

              Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0       2020-01-01     good   48  ...  11.6                  NaN              NaN
1       2020-01-04     good   13  ...   3.2                  NaN              NaN
2       2020-01-07     good   14  ...   3.3                  NaN              NaN
3       2020-01-10     good   39  ...   9.3                  NaN              NaN
4       2020-01-13     good   29  ...   6.9                  NaN              NaN
...            ...      ...  ...  ...   ...                  ...              ...
338190  2020-12-27     good   32  ...   NaN           858.191667        81.625000
338191  2020-12-28     good   30  ...   NaN           863.412500        81.250000
338192  2020-12-29     good   33  ...   NaN           857.008333        85.020833
338193  2020-12-30     good   33  ...   NaN           859.272917        74.416666
338194  2020-12-31     good   34  ...   NaN           857.960417        67.854167

[338195 rows x 13 columns]

         Date Category  AQI  ... pm2.5  barometric_pressure  rh_and_dewpoint
0  2016-01-01     good   33  ...   7.9                  NaN              NaN
1  2016-01-04     good   22  ...   5.3                  NaN              NaN
2  2016-01-07     good   28  ...   6.7                  NaN              NaN
3  2016-01-10     good   13  ...   3.0                  NaN              NaN
4  2016-01-13     good   36  ...   8.7                  NaN              NaN

[5 rows x 13 columns]

In [ ]:
def add_gas(df):
  df = df.copy()
  gas_df = pd.read_csv(project_path + "data_extended/GasByCounty.csv")
  gas_df["County"] = gas_df["County"].str.lower()
  gas_df = gas_df.melt(id_vars=["County"], value_vars=["2020", "2019", "2018", "2017", "2016"], var_name="Year")
  county_code_df = pd.read_csv(project_path + "data_extended/CA_county_code_updated.csv")
  county_map = {}  # map county_name to county_number
  for name, num in zip(county_code_df["county_name"], county_code_df["county_number"]):
    county_map[name.lower()] = f"6_{num:03d}"
  gas_df["state_county"] = gas_df["County"].replace(county_map)
  gas_df = gas_df.rename(columns={"value": "gas"}).drop("County", axis=1)
  df["Year"] = df["Date"].str.extract("^(\d+)")
  df = df.merge(right=gas_df, on=["state_county", "Year"], how="left").drop("Year", axis=1)
  return df

final_gas = add_gas(final)
display(final_gas.head())

         Date Category  AQI  ... barometric_pressure  rh_and_dewpoint  gas
0  2016-01-01     good   33  ...                 NaN              NaN  NaN
1  2016-01-04     good   22  ...                 NaN              NaN  NaN
2  2016-01-07     good   28  ...                 NaN              NaN  NaN
3  2016-01-10     good   13  ...                 NaN              NaN  NaN
4  2016-01-13     good   36  ...                 NaN              NaN  NaN

[5 rows x 14 columns]

In [ ]:
def add_climate_type(df):
  df = df.copy()
  county_code_df = pd.read_csv(project_path + "data_extended/CA_county_code_updated.csv")
  county_map = {}  # map county_name to county_number
  for name, num in zip(county_code_df["county_name"], county_code_df["county_number"]):
    county_map[name.lower()] = f"6_{num:03d}"
    
  display(county_map)
  state_to_ctype = {'Alameda': 'mediterranean', 'Alpine': 'continental', 'Amador': 'mediterranean', 'Butte': 'mediterranean', 'Calaveras': 'mediterranean',
    'Colusa': 'mediterranean', 'Contra Costa':'mediterranean', 'Del Norte': 'mediterranean', 'El Dorado': 'mediterranean', 'Fresno': 'semi-arid',
    'Glenn': 'mediterranean', 'Humboldt':'mediterranean', 'Imperial': 'arid', 'Inyo': 'semi-arid', 'Kern': 'semi-arid', 'Kings': 'semi-arid', 'Lake': 'mediterranean',
    'Lassen': 'continental', 'Los Angeles': 'mediterranean', 'Madera': 'semi-arid', 'Marin': 'mediterranean', 'Mariposa': 'mediterranean', 'Mendocino': 'mediterranean',
    'Merced': 'semi-arid', 'Modoc': 'continental', 'Mono': 'continental', 'Monterey': 'mediterranean', 'Napa': 'mediterranean', 'Nevada': 'mediterranean', 'Orange': 'semi-arid',
    'Placer': 'mediterranean', 'Plumas': 'continental', 'Riverside': 'arid', 'Sacramento': 'mediterranean', 'San Benito': 'semi-arid', 'San Bernardino': 'arid', 'San Diego': 'mediterranean',
    'San Francisco': 'mediterranean', 'San Joaquin': 'mediterranean', 'San Luis Obispo': 'mediterranean', 'San Mateo': 'mediterranean', 'Santa Barbara': 'mediterranean', 'Santa Clara': 'mediterranean',
    'Santa Cruz': 'mediterranean', 'Shasta': 'mediterranean', 'Sierra': 'continental', 'Siskiyou': 'continental', 'Solano': 'mediterranean', 'Sonoma': 'mediterranean', 'Stanislaus': 'semi-arid', 
    'Sutter': 'mediterranean', 'Tehama': 'mediterranean', 'Trinity': 'mediterranean', 'Tulare': 'semi-arid', 'Tuolumne': 'mediterranean', 'Ventura': 'mediterranean', 'Yolo': 'mediterranean', 'Yuba': 'mediterranean'}

  state_code_to_ctype = {'state_county': [], 'climate': []}
  for k, v in state_to_ctype.items():
    state_code_to_ctype['state_county'].append(county_map[k.lower()])
    state_code_to_ctype['climate'].append(v)

  state_code_to_ctype_df = pd.DataFrame(state_code_to_ctype)

  df = df.merge(right=state_code_to_ctype_df, on=['state_county'], how='left')
  return df

final_gas_climate = add_climate_type(final_gas)

{'alameda': '6_001',
 'alpine': '6_003',
 'amador': '6_005',
 'butte': '6_007',
 'calaveras': '6_009',
 'colusa': '6_011',
 'contra costa': '6_013',
 'del norte': '6_015',
 'el dorado': '6_017',
 'fresno': '6_019',
 'glenn': '6_021',
 'humboldt': '6_023',
 'imperial': '6_025',
 'inyo': '6_027',
 'kern': '6_029',
 'kings': '6_031',
 'lake': '6_033',
 'lassen': '6_035',
 'los angeles': '6_037',
 'madera': '6_039',
 'marin': '6_041',
 'mariposa': '6_043',
 'mendocino': '6_045',
 'merced': '6_047',
 'modoc': '6_049',
 'mono': '6_051',
 'monterey': '6_053',
 'napa': '6_055',
 'nevada': '6_057',
 'orange': '6_059',
 'placer': '6_061',
 'plumas': '6_063',
 'riverside': '6_065',
 'sacramento': '6_067',
 'san benito': '6_069',
 'san bernardino': '6_071',
 'san diego': '6_073',
 'san francisco': '6_075',
 'san joaquin': '6_077',
 'san luis obispo': '6_079',
 'san mateo': '6_081',
 'santa barbara': '6_083',
 'santa clara': '6_085',
 'santa cruz': '6_087',
 'shasta': '6_089',
 'sierra': '6_091',
 'siskiyou': '6_093',
 'solano': '6_095',
 'sonoma': '6_097',
 'stanislaus': '6_099',
 'sutter': '6_101',
 'tehama': '6_103',
 'trinity': '6_105',
 'tulare': '6_107',
 'tuolumne': '6_109',
 'ventura': '6_111',
 'yolo': '6_113',
 'yuba': '6_115'}

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import Normalizer

# To calculate mean use imputer class
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# normalize
normalizer = Normalizer()
    
def fillna_normalize(df, cols):
    df.loc[:, cols] = imputer.fit_transform(df.loc[:, cols])
    df.loc[:, cols] = normalizer.fit_transform(df.loc[:, cols])
    # display(df.groupby('state_county').filter(lambda g: (g['Date'].nunique() == 1827))['state_county'].unique())
    return df

final_gas_climate = fillna_normalize(final_gas_climate, ['ozone', 'so2', 'co', 'no2', 'temp', 'wind', 'pm2.5', 'barometric_pressure', 'rh_and_dewpoint', 'gas'])
display(final_gas_climate.head())

         Date Category  AQI  ... rh_and_dewpoint       gas  climate
0  2016-01-01     good   33  ...        0.059777  0.267614      NaN
1  2016-01-04     good   22  ...        0.059778  0.267618      NaN
2  2016-01-07     good   28  ...        0.059777  0.267616      NaN
3  2016-01-10     good   13  ...        0.059778  0.267620      NaN
4  2016-01-13     good   36  ...        0.059776  0.267612      NaN

[5 rows x 15 columns]

In [ ]:
display(final_gas_climate.head())
final_gas_climate.to_csv(project_path+'data_extended/5_years.csv', index=False)

         Date Category  AQI  ... rh_and_dewpoint       gas  climate
0  2016-01-01     good   33  ...        0.059777  0.267614      NaN
1  2016-01-04     good   22  ...        0.059778  0.267618      NaN
2  2016-01-07     good   28  ...        0.059777  0.267616      NaN
3  2016-01-10     good   13  ...        0.059778  0.267620      NaN
4  2016-01-13     good   36  ...        0.059776  0.267612      NaN

[5 rows x 15 columns]